# Dependencies
node_modules/
/.pnp
.pnp.js

# Production builds
dist/
dist-ssr/
build/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache & temporary files
.vite/
.turbo/
*.local
/uploads
/temp
/tmp

# Editor directories & files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/